allow init unlabeled:filesystem getattr;
allow init socket_device:sock_file { write create unlink setattr };
allow init rild:unix_stream_socket { connectto };
allow init block_device:blk_file setattr;
allow init kmem_device:chr_file setattr;
allow init self:netlink_route_socket { setopt nlmsg_write read bind create nlmsg_read write getattr };
allow init sysfs:lnk_file setattr;
#allow init system_file:dir { write remove_name add_name };
#allow init system_file:file { read write create link unlink getattr setattr execute_no_trans };
allow init tmpfs:lnk_file create;
allow init wpa_socket:unix_dgram_socket { bind create };
allow init media_device:fifo_file create;
allow init radio_device:fifo_file create;
