allow mediaserver default_prop:property_service set;
allow mediaserver device:chr_file { read write ioctl open };
allow mediaserver device:fifo_file { read write open };
allow mediaserver proc:file write;
allow mediaserver radio_device:chr_file { read write open };
allow mediaserver sysfs_wake_lock:file { read write open };
allow mediaserver system_data_file:fifo_file { read open setattr };
allow mediaserver system_data_file:file { write open };
allow mediaserver system_file:file execmod;
