set_prop(rild, ctl_rildaemon_prop);
set_prop(rild, ctl_engpc_prop);
set_prop(rild, system_prop);

allow rild radio_block_device:blk_file { read write open };
allow rild radio_data_file:dir { write remove_name add_name };
allow rild radio_data_file:file { write getattr setattr read create unlink open };
allow rild device:lnk_file create;
allow rild devpts:chr_file { read write ioctl open setattr };
allow rild device:dir { write add_name };
allow rild ptmx_device:chr_file { read write };
allow rild rild_exec:file entrypoint;
allow rild sysfs_restart_cpc:file write;
allow rild proc_cpw:dir { open search };
allow rild proc_cpw:file { read write open ioctl };
allow rild proc_cpt:dir { open search };
allow rild proc_cpt:file { read write open ioctl };
allow rild storage_file:dir { search open };
allow rild storage_file:file { open read write setattr getattr};
