type set_freq, domain;
type set_freq_exec, exec_type, file_type;
init_daemon_domain(set_freq);

allow set_freq sysfs:file setattr;
allow set_freq shell_exec:file read;
allow set_freq set_freq_exec:file { entrypoint ioctl };
allow set_freq self:capability { fowner chown fsetid };
